# Compiled Object files
*.o

# Fortran module files
*.mod

# Temporary files
*~

# Matlab figures/structures
*.fig
*.mat

# Figures
*.jpg
*.png
*.eps

# PDF files
*.pdf

# Data files (binaries and text files)
*.dat
